CompileFlags:
  Add: [-std=c++17, -Iinclude]
Diagnostics:
  ClangTidy:
    Add: [performance-*, modernize-*, readability-*]
    Remove:
      - modernize-use-trailing-return-type
      - performance-enum-size
