[submodule "modules/auto_lights"]
	path = modules/auto_lights
	url = https://e.coding.smoa.cloud/devops/smore-visenz/visenz-al.git
[submodule "modules/auto_focus"]
	path = modules/auto_focus
	url = https://e.coding.smoa.cloud/devops/smore-visenz/visenz-af.git
[submodule "modules/auto_exposure"]
	path = modules/auto_exposure
	url = https://e.coding.smoa.cloud/devops/smore-visenz/visenz-ae.git
[submodule "modules/hmap_generator"]
	path = modules/hmap_generator
	url = https://e.coding.smoa.cloud/devops/smore-visenz/hmap-generator.git
